.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html,
body {
    background: $dark-color !important;
    width: 100%;
    height: 100%;
}

.body {
    min-width: 320px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

.footer {
    flex-shrink: 0;
    background: inherit;
    padding-top: 2.5em;
    margin-bottom: 0.75em;
}

p {
    padding: 0.5em 0;
    margin: 0;
}

.break {
    flex-basis: 100%;
    height: 0;
}

/* TOP */
.header div {
    margin: 3em auto;
}

.header ul {
    margin-top: 2px;
    padding-bottom: 3em;
}

.header .logo {
    float: left;
    padding: 0;
}

.logo,
.logo-home {
    position: relative;
    display: block;
    background: url("../foto/varie/logo.svg") no-repeat;
}

.logo {
    background-size: 35px;
    width: 35px;
    height: 35px;
}

.logo-home {
    margin: 5em auto 0;
    background-size: 77px;
    width: 77px;
    height: 77px;
}

.header-menu li {
    display: inline;
    margin-right: 1rem;
}

.header-menu li:last-child {
    margin-right: 5px;
}

.header-menu {
    float: right;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.header-menu::-webkit-scrollbar {
    display: none;
}

.info {
    margin-bottom: 2em;
}

.title {
    width: 100%;
    padding-top: 0.5em;
}

.desc {
    width: 100%;
}

.studio-list {
    margin-bottom: 1.5em;
}

.studio-list h4 {
    margin-left: 7px;
    padding-bottom: 0.25rem;
}

.article-content h1:before,
.about h2:before {
    display: block;
    content: '';
    background: $link-color;
    height: .125em;
    width: 21px;
    z-index: -1;
}

.card-text span:before {
    display: block;
    content: ' ';
    background: url("../foto/varie/inset.svg") no-repeat;
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 10px;
}

.card-text span {
    margin-left: 18px;
}

.view-all {
    margin-top: 7px;
    margin-left: 7px;
}

.email {
    margin-top: -25px;
}

.studio-card,
.lista-card {
    width: 100%;
}

.article-image,
.studio-card-in,
.lista-card-in {
    height: 280px;
    border: $border;
}

.studio-card-in,
.lista-card-in {
    margin: 7px;
}

.card-image {
    filter: brightness(42%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    width: 90%;
    padding-right: 1.5em;
    position: absolute;
    top: 1em;
    left: 1.5em;
}

.card-text h1 {
    margin-top: -9px;
}

.article-content h1,
.studio-content h1 {
    padding: 2.5em 0 0.25em;
}

.not-found ul li {
    padding-left: 1em;
}

// ARTICLES
.article-image {
    position: relative;
    margin: 0 auto 1em;
    width: 100%;
}

.media img {
    display: block;
    margin: 1em auto;
    height: auto;
    width: 100%;
}


.caption {
    position: relative;
    width: 100%;
    margin: 1em auto;
    text-align: center;
}

.quote {
    margin-top: 0.5em;
    text-align: center;
}

.grid img,
.logos img {
    display: block;
    transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
}

.grid img {
    width: 100%;
    height: auto;
}

.logos img {
    width: 90%;
    height: auto;
}

.grid ul,
.logos ul,
.services ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid ul li,
.logos ul li,
.services ul li {
    flex-basis: 100%;
    padding-left: 0 !important;
}

.grid ul li::before,
.logos ul li::before,
.services ul li::before {
    content: "";
}

.services li {
    margin-right: 0.7em;
}

// .services li span {
//     float: left;
//     margin-right: -100px;
//     margin-top: 30px;
//     font-size: 7em;
//     opacity: 0.1;
// }

.page-link {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.large {
    display: none !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.body-content {
    margin-bottom: 2.5em;
}

/* FOOTER */
.footer div {
    border-top: $border;
}

.all-articles a {
    margin-bottom: 5px;
}

.footer ul li {
    display: inline;
    float: left;
    padding: 0 0.5em 0 0;
}

.footer-right {
    position: relative;
    float: right;
}

.footer-right li:last-child {
    padding-right: 0 !important;
}

.icon svg {
    margin-top: 10px;
}