<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title and page.type != "home" %} {{page.title|capitalize_all}} • Auxilia {% else %} {{site.title | capitalize_all}} {% endif %}</title>
    <meta name="keywords" content="Joshua Makau, Joshua, Makau, auxilia, design, websites, designers, auxilia io, IT, IT Consultant, IT Consultancy">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/styles/grid.css" />
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <script src="/assets/scripts/lazysizes.min.js" async=""></script>
    <!-- <script src="/assets/scripts/jquery.js"></script>
    <script src="/assets/scripts/jqueryui.js"></script> -->
    <!-- <script src="/assets/scripts/jquery.history.js"></script> -->
    <!-- <script src="/assets/scripts/init.js"></script> -->
</head>
<!-- Body -->

<body class="fade-in one">
    <div class="container content">
        <div class="container top">
            {% if page.type == 'home' %}
                    <a class="logo-home" href="/"></a>
                {% else %}
                    <a class="logo" href="/"></a>
                        <!-- <a class="breadcrumb" href="/{{page.url}}">{{page.title}}</a> -->
                {% if page.title == 'Articles' %}
                <ul class="top-menu">
                    {% assign topics = site.categories | sort %}
                    {% for topic in topics %}
                    <li> <a href="/articles/{{topic | first }}/" title="{{topic | first | capitalize }}">{{topic | first | capitalize}}</a></li>
                    {% endfor %}
                </ul>
                {% elsif page.title == 'Page Not Found' %}
                <ul>
                    <li>Page Not Found</li>
                </ul>
                {% else %}
                <ul class="top-menu">
                    <li><a href="/articles/">Articles</a></li>
                    <li><a href="/studio/">Studio</a></li>
                    <li><a href="mailto:hello@auxilia.io?subject=Hello!&body=Hello, I was browsing your website and ">Contact</a></li>
                </ul>
                {%endif%}
                    {%endif%}
                <!-- <ul class="logo">
                        <li><a id="logo" href="/"></a></li>
                    </ul> -->
                <!-- </div> -->
            </div>