{% include header.html %}
<section class="search page">
<div class="content">
        <form class="search-form" method="get" action="/search" data-search-form>
          <input class="search-input" name="q" id="q"  type="search" placeholder="Type to search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus data-search-input/>
        </form>
  <p class="search-info" data-search-found>
    <span data-search-found-count></span> article(s) found.
  </p>
  <div class="article-list" data-search-results></div>
  <script type="text/x-template" id="search-result">
  <ul>
<a class="article-card card-{{forloop.index}}" href="##Url##">
    <li>
<div class="article-list-image" style="background: url(##Image##) no-repeat 50% 50%; background-size: cover;background-color: #4b505a;
    background-blend-mode: overlay;">
        </div>
    <div class="article-list container">
        <div class="article-text">
            <span>##Date##・##Category##・##Time##</span> 
            <h1>##Title##</h1>
            </div> 
        </div>
</li>
</a>
    </ul>
  </script>
  </div>
</section>
  {% include footer.html %}