<div class="media grid">
    <ul>
        <li class="hvr-float">
                <img src="/assets/foto/varie/lazyload.png" data-src="{{ include.file1 | prepend: '/assets/foto/studio/profili/' }}" alt="{{ include.title }}" class="lazyload" />
        </li>
        <li class="hvr-float">
                <img src="/assets/foto/varie/lazyload.png" data-src="{{ include.file2 | prepend: '/assets/foto/studio/profili/' }}" alt="{{ include.title }}" class="lazyload" />
        </li>
        <li class="hvr-float">
                <img src="/assets/foto/varie/lazyload.png" data-src="{{ include.file3 | prepend: '/assets/foto/studio/profili/' }}" alt="{{ include.title }}" class="lazyload" />
        </li>
    </ul>
</div>