<div class="lista-card hvr-float">
            <a href="{{ post.url }}" title="{{ post.title }}">
                <div class="articolo-card lista-card-in card-{{forloop.index}}">
                    <img src="/assets/foto/varie/lazyload.png" data-src="{{post.image}}" alt="{{ post.title }}" class="card-image lazyload" />
                    <li>
                        <div class="card-text">
                            {% assign words = post.content | number_of_words %}
                            <span>{{ post.categories | join: ', '}} • {% if words < 500 %} 1 Min Read{% else %} {{ words | divided_by:250 }} Mins Read{% endif %}</span> 
                                <h1>{{post.title}}</h1>
                        </div>
                    </li>
                </div>
            </a>
        </div>