<div class="studio-card hvr-float">
    <a href="{{ studio.link }}" title="{{ studio.title }}">
        <div class="studio-card-in card-{{forloop.index}} lazyload" data-original="/assets/foto/varie/lazyload.png" style="background-image: linear-gradient(rgba(10, 10, 10, 0.3), rgba(10, 10, 10, 0.3)), url({{studio.image}});">
            <li>
                <div class="card-text">
                    <span>{{studio.kind}}</span>
                    <h1>{{studio.title}}</h1>
                </div>
            </li>
        </div>
    </a>
</div>