<div class="media grid">
    <ul>
        <li class="hvr-float">
            <img src="/assets/foto/altro/lazyload.png" data-src="{{ include.file1 | prepend: '/assets/foto/studio/profili/' }}" alt="{{ include.title }}" class="lazyload" />
        </li>
        <li class="hvr-float">
            <img src="/assets/foto/altro/lazyload.png" data-src="{{ include.file2 | prepend: '/assets/foto/studio/profili/' }}" alt="{{ include.title }}" class="lazyload" />
        </li>
        <li class="hvr-float">
            <img src="/assets/foto/altro/lazyload.png" data-src="{{ include.file3 | prepend: '/assets/foto/studio/profili/' }}" alt="{{ include.title }}" class="lazyload" />
        </li>
    </ul>
</div>
<!-- <div class="page-link">
    <a class="button hvr-wobble-horizontal" href="{{ include.link }}" target="_blank" style="text-decoration-color: #0A0A0A;">VIEW PROFILE
        <span class="icon">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg width="12px" height="12px" viewBox="0 0 160 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>chevron</title>
                <desc>Created with Sketch.</desc>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="chevron" fill="#87A5D2" fill-rule="nonzero">
                        <polygon id="Path" points="31.093 0 0.907 30.187 98.72 128 0.907 225.813 31.093 256 159.093 128"></polygon>
                    </g>
                </g>
            </svg>
        </span>
    </a>
</div> -->
{% include pulsanti.html %}