---
layout: compressa
---
{% include capo.html %}
<div data-aos="fade-down" data-aos-delay="">
    <section class="info" data-aos="fade-down" data-aos-delay="">
        <div class="container">
            <div class="article-image" data-aos="fade-down" data-aos-delay="">
                <img src="/assets/foto/varie/lazyload.png" data-src="{{page.image}}" alt="{{ page.title }}" class="card-image lazyload" />
            </div>
            <p>Over the years I’ve specialised in producing simple yet meaningful solutions to a variety of digital
                tasks, by creating engaging <a class="hvr-underline-from-left" href="/studio/">digital experiences</a> that better connect companies with their audience.</p>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <h2 class="title">What do I do?</h2>
            <div class="services desc">
                <ul>
                    <li>
                        <p><strong>Front-End Web Development</strong><br>This involves converting the visual design of a website into user and developer friendly code.</p>
                    </li>
                    <div class="break"></div>
                    <li>
                        <p><strong>App Design</strong><br>This involves creating mobile app user interfaces that have fast loading time, ease of use and delight during interaction.</p>
                    </li>
                    <div class="break"></div>
                    <li>
                        <p><strong>Website Audit</strong><br>This is a complete analysis of all the factors that affect
                            website's visibility in search engines, and how to improve on them.</p>
                    </li>
                    <!--<div class="break"></div>
                    <li>
                        <p><strong>Website Design</strong><br>This is the process of creating a website that focuses on
                            aesthetic factors like layout, user interface usability.</p>
                    </li>
                    <div class="break"></div>
                     <li>
                        <p><strong>Graphic Design</strong><br>This is the process of visual communication through the use of typography, photography, iconography and illustration.</p>
                    </li>
                    <li>
                        <p><strong>Digital Marketing</strong><br>This is the promotion of products or brands using the Internet, mobile devices, social media and search engines to reach consumers.</p>
                    </li>
                    <div class="break"></div> -->
                </ul>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <h2 class="title">What don't I do?</h2>
            <p class="desc">Run in public. Fall gracefully. Understand how <a class="hvr-underline-from-left" href="https://www.doctorwho.tv" target="_blank">time</a> <a class="hvr-underline-from-left" href="https://www.syfy.com/12-monkeys" target="_blank">travel</a> <a class="hvr-underline-from-left" href="https://www.imdb.com/title/tt6723592/" target="_blank">works.</a> Wear anything other than <a class="hvr-underline-from-left" href="https://www.theminimalists.com/minimalism/" target="_blank">black.</a> Skip queues. Run with scissors. Know how to whistle with two fingers.</p>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <h2 class="title">How do I work?</h2>
            <p class="desc"><strong>Briefing</strong><br>Understanding the problem has always been the forefront of my
                process. I consider project briefing as the most important stage as erroneous understanding can lead to
                misguided designs.</p>
            <p class="desc"><strong>Strategy</strong><br>Clients come with different takes; some say they know what they
                want, and some might have no idea. Whatever their take may be, I always ask for their objective, and
                dive deep to understand what can solve their problem.</p>
            <p class="desc"><strong>Design → Review → Iteration</strong><br>From wireframes to high-fidelity designs, I
                take client engagement in high regard. Reviews and feedback make part in the success of the project.
                Necessary iterations can take place until we achieve the final desired solution.</p>
        </div>
    </section>
    <section class="callout">
        <div class="container">
            <p>When I'm not working, I write about <a class="hvr-underline-from-left" href="/articles/">personal
                    tech</a> and listen to <a class="hvr-underline-from-left" href="https://www.goodreads.com/makauj" target="_blank">audiobooks</a> &amp; podcasts. I'm a <a class="hvr-underline-from-left" href="https://www.theminimalists.com/minimalism/" target="_blank">minimalist</a>, a <a class="hvr-underline-from-left" href="https://www.urbandictionary.com/define.php?term=nonconformist" target="_blank">nonconformist</a>, a <a class="hvr-underline-from-left" href="https://www.urbandictionary.com/define.php?term=DIYer" target="_blank">DIYer</a>, and an <a class="hvr-underline-from-left" href="https://www.urbandictionary.com/define.php?term=Old%20soul" target="_blank">old soul.</a></p>
            <br>
        </div>
    </section>
    {% include contatto.html %}
</div>
{% include piede.html %}
</body>
</html>