---
layout: compressa
---
{% include capo.html %}
{% if page.type == 'studio' %}
<section class="body-content" data-aos="fade-up" data-aos-delay="">
    <div class="container studio-list">
        <ul>
            {% assign sorted = site.studios | sort: 'date' | reverse %}
            {% for studio in sorted %}
            {% include lista-studio.html %}
            {% endfor %}
        </ul>
        {% include pulsanti.html title="VIEW COMPANY PROFILE" link="../../assets/foto/studio/Auxilia%20Profile.pdf"%}
    </div>
</section>
{% else %}
<section class="body-content" data-aos="fade-up" data-aos-delay="">
    <div class="container">
        <ul>
            {% for post in site.posts %}
            {% include lista-articolo.html %}
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
{% include piede.html %}