---
layout: compressa
---
{% include capo.html %}
{% assign words = page.content | number_of_words %}
<section>
    <div class="container">
        <div class="article-image lazyload" style="background-image: linear-gradient(rgba(10, 10, 10, 0.3), rgba(10, 10, 10, 0.3)), url({{page.image}});" data-aos="fade-down" data-aos-delay="">
            <ul>
                <li>
                    <div class="card-text">
                        {% if page.type == 'studio' %}
                        <span>{{ page.kind}}</span>
                        {% else %}
                        <span>{{ page.categories | join: ', '}} • {% if words < 360 %} 1 Min Read{% else %} {{ words | divided_by:180 }} Mins Read{% endif %}</span> {%endif%} <h1>{{page.title}}</h1>
                    </div>
                </li>
            </ul>
        </div>
        {% if page.type == 'studio' %}
        <div class="studio-content" data-aos="fade-down" data-aos-delay="">
            {% else %}
            <div class="article-content" data-aos="fade-down" data-aos-delay="">
                {%endif%}
                {{ content }}
            </div>
        </div>
</section>
{% include piede.html %}