---
layout: compressa
---
{% include capo.html %}
{% assign words = page.content | number_of_words %}
<section>
    <div class="container">
        <div class="article-image" data-aos="fade-down" data-aos-delay="">
            <img src="/assets/foto/varie/lazyload.png" data-src="{{page.image}}" alt="{{ page.title }}" class="card-image lazyload" />
                    <div class="card-text">
                        {% if page.type == 'studio' %}
                        <span>{{ page.kind}}</span>
                        {% else %}
                        <span>{{ page.categories | join: ', '}} • {% if words < 360 %} 1 Min Read{% else %} {{ words | divided_by:180 }} Mins Read{% endif %}</span> {%endif%} <h1>{{page.title}}</h1>
                    </div>
        </div>
        {% if page.type == 'studio' %}
        <div class="studio-content" data-aos="fade-down" data-aos-delay="">
            {% else %}
            <div class="article-content" data-aos="fade-down" data-aos-delay="">
                {%endif%}
                {{ content }}
            </div>
        </div>
</section>
{% include piede.html %}